html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  background-color: #EEEEEE;
}

#root {
  height: 100%;
}

/* ===== Header ===== */
.header {
  height: 50px;

  border-bottom: 1px solid black;
}

.header__title {
   margin: 8px 8px;

   font-size: 30px;
 }

.options {
  display: flex;
  height: 50px;
  margin-bottom: 10px;
}

.options__space {
  flex: 1 1;
}

/* ===== Footer ===== */

.footer {
  height: 40px;

  border-top: 1px solid black;
}

.footer__text {
  display: inline-block;
  margin: 10px 8px;

  font-size: 16px;
}

/* ===== Content ===== */

.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: calc(100% - 110px)

}


.logContainer {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 200px;
  overflow: hidden;
}
#logArea {
}

#pressButton {
  width: 100%;
  height: 100px;
  margin: 10px 0;

  font-size: 32px;
  border-radius: 20px;
  background-color: #4CAF50;
}

.controls {
  display: flex;
  justify-content: space-between;
}

#copyButton, #clearButton {
  width: 45%;
  height: 50px;
  margin: 10px 0 0;

  font-size: 18px;
  border-radius: 10px;
}

#result {
  margin: 0 -5px;
  width: 100%;
  height: 100px;

  font-size: 16px;
  border: 1px solid black;
  background-color: #F2F2F2;
}

#copyButton {
  background-color: #32ABCD;
}

#clearButton {
  background-color: #EF4334;
}

/* ===== Settings ===== */
.settingsPopup, .alphabetPopup {
  position: fixed;
  top: 60px;
  bottom: 60px;
  left: 20px;
  right: 20px;
  padding: 16px 10px;

  background-color: #444444;
  color: #FFFFFF;
}

.settingsPopup__title, .alphabetPopup__title {
  display: flex;
  margin-bottom: 20px;
}

#settingsPopupCloseButton, #alphabetPopupCloseButton {
  width: 40px;
  height: 30px;
}

.settingsPopup__title-text, .alphabetPopup__title-text {
  flex: 1 1;
}

.settingsPopup__speed {
  margin-bottom: 20px;
}

#speedInput {
  width: 100%;
}

#volumeInput {
  width: 100%;
}

.fixedBottom input {
  margin-bottom: 5px;
}

#alphabetContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100% - 40px);
  font-size: 20px;
}

.abc-item {
  display: inline-block;
  min-width: 80px;
  max-width: 80px;
  margin-right: 20px;
  white-space: nowrap;
}
